/* Button */

.button {
	display: inline-block;
	padding: 0.6em 0.889em;
	border: none;
	border-radius: 6px;
	box-shadow: none;
	text-align: center;
	text-decoration: none;
	font-size: 0.85em;
	overflow-wrap: break-word;
	cursor: pointer;

	color: $buttonText;
	background: $buttonBackground;

	&:hover,
	&:active,
	&:focus {
		color: $buttonText;
		background-color: darken($buttonBackground, 5%);
	}
}
