// Pagination & Post Navigation

.pagination,
.post-navigation {
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		font-size: 1.2rem;

		> * {
			padding: 1rem;
		}
	}
}

.pagination {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.current {
		color: $primary;
	}
}
