// Post

.post-excerpt {
	display: flex;
	flex-direction: column;

	.entry-header {
		.post-thumbnail {
			display: block;
			padding: 0 !important;

			img {
				justify-self: stretch;
				width: 100%;
				height: auto;
			}
		}

		.post-categories,
		.entry-title {
			text-align: center;
		}

		.post-categories {
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.entry-title {
			font-size: 1.6rem;
			color: $textTitle;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}

	.entry-content {
		font-size: 1rem;
	}

	.entry-footer {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex: 1;

		.read-more-link {
			@extend .button;
		}
	}
}
