// Tag Cloud

.tagcloud {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;

	@media (min-width: 576px) {
		text-align: inherit;
	}

	.tag-cloud-link {
		display: inline-block;
		padding: 8px;
		font-size: 1em !important;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 0.25em;
		color: $buttonText;
		background-color: $buttonBackground;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($buttonBackground, 5%);
		}
	}
}
