// Widgets

.widget {
	img {
		width: auto;
		max-width: 100%;
		height: auto;
		border: none !important;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li {
		margin-bottom: 12px;
		font-size: 1rem;
	}

	.current-cat {
	}

	.gallery-item {
		margin-top: 8px !important;
		margin-bottom: 8px;
	}
}

.widget-title {
	font-size: 1.8rem;
	color: $textTitle;
}
