.editor-post-title__block .editor-post-title__input{font-family:"Alliance No.2",sans-serif;color:#000}.wp-block-shortcode textarea{color:#000;width:100%}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvYWRtaW4vX2VkaXRvci5zY3NzIiwiLi4vLi4vc2Fzcy9hZG1pbi9fd3AtYmxvY2stc2hvcnRjb2RlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUEsb0RBQ0Msc0NBQUEsQ0FDQSxVQUFBLENDREEsNkJBQ0MsVUFBQSxDQUNBLFVBQUEiLCJmaWxlIjoiZWRpdG9yLXN0eWxlcy5jc3MifQ== */