// Footer
.footer {
	background-color: $primary;

	.footer-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;

		@media (min-width: 992px) {
			flex-direction: row;
		}

		@include padding(2rem null 4rem);
		@include margin(0);

		list-style: none;
		padding-inline-start: 0;

		.menu-item {
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			color: $textInPrimary;
		}
	}

	.footer-middle {
		.container-fluid {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 2rem;
			text-align: center;

			padding: 2rem;
			border-top: 1px solid $background;

			@media (min-width: 992px) {
				flex-direction: row;
			}
		}
	}

	.footer-contacts,
	.footer-copyright {
		gap: 1.6rem;
		color: $white;
		font-weight: bold;

		&,
		div {
			display: flex;
			flex-direction: column;

			@media (min-width: 992px) {
				flex-direction: row;
			}
		}

		div {
			align-items: center;
			gap: 1rem;
		}
	}

	.footer-copyright {
		font-weight: initial;

		.container-fluid {
			padding-bottom: 2rem;
			gap: 0;
			font-size: 1rem;

			@media (min-width: 992px) {
				gap: 1em;
			}
		}

		a {
			line-height: 1;
			vertical-align: middle;
		}
	}
}
