/* Image with internal caption */

%figure-placeholder {
	position: relative;

	&::before {
		content: "";
		display: block;
		@include position(absolute, 0 0 0 0);
		background: -moz-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
		background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
		z-index: 1;
	}

	figcaption {
		display: block;
		@include position(absolute, null 50% 2rem);
		padding: 0;
		transform: translateX(-50%);
		width: 90%;
		margin: 0;
		font-size: 1.12rem;
		color: #fff;
		background: none;
		z-index: 10;
	}
}

.wp-block-image {
	&.is-style-internal-caption {
		figure {
			@extend %figure-placeholder;

			&::before {
				bottom: 8px;
			}
		}

		div {
			@extend %figure-placeholder;
		}
	}
}

.wp-block-column {
	figure {
		&.wp-block-image {
			&.is-style-internal-caption {
				@extend %figure-placeholder;

				&::before {
					bottom: 8px;
				}
			}
		}
	}
}

.wp-block-gallery {
	&.is-style-internal-caption {
		.blocks-gallery-item {
			figure {
				@extend %figure-placeholder;
			}
		}
	}
}
