/* Webfonts */

// Note: Need to be enqueued in Block Editor Assets to be applied there too

@font-face {
	font-family: "Alliance No.2";
	src: url("../../fonts/AllianceNo2-Light.woff2") format("woff2"),
		url("../../fonts/AllianceNo2-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Alliance No.2";
	src: url("../../fonts/AllianceNo2-Bold.woff2") format("woff2"),
		url("../../fonts/AllianceNo2-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Alliance No.2";
	src: url("../../fonts/AllianceNo2-Medium.woff2") format("woff2"),
		url("../../fonts/AllianceNo2-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Alliance No.2";
	src: url("../../fonts/AllianceNo2-SemiBold.woff2") format("woff2"),
		url("../../fonts/AllianceNo2-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Alliance No.2";
	src: url("../../fonts/AllianceNo2-Regular.woff2") format("woff2"),
		url("../../fonts/AllianceNo2-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
