// 404 Error Page

.error404 {
	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 115px);
		text-align: center;
		color: $textBase;

		& > span {
			margin-bottom: 2rem;
			font-size: 3rem;
			font-weight: 900;
			line-height: 1;
			color: $primary;

			@media (min-width: 992px) {
				font-size: 6rem;
			}
		}

		.page-title {
			margin-bottom: 2rem;
			font-weight: 500;
		}

		& > p {
			font-size: 1.4em;
			margin-bottom: 2rem;
		}

		& > a {
			display: inline-block;
			padding: 7px 25px;
			font-weight: bold;
			font-size: 1.2rem;
			text-transform: uppercase;
			text-decoration: none;
			color: $primary;
			border-radius: 0;
			border: 2px solid $primary;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
		}
	}
}
