// Color Pallete
// https://coolors.co/000000-666666-e7481d-ffffff

$white: #ffffff;
$background: #ffffff;
$primary: #e7481d;
$titleInPrimary: #ffffff;
$textInPrimary: #ffffff;
$textTitle: #000000;
$textBase: #000000;
$inputText: #666666;
$inputBorder: #666666;
$inputBackground: #ffffff;
$buttonBackground: #e7481d;
$buttonText: #ffffff;
